body {
  background-color: #032731;
}

.page-container {
  height: 100vh;
  width: 100%;
}

.info-side-container {
  width: 100%;
  padding-top: 2rem;
  padding-bottom: 2rem;
  overflow-y: auto
}

.notes-box {
  position: sticky;
  left: 0;
  width: 25%; 
  height: 100%;
  background-color: #0C404F;
  padding: 2rem;
}
  
.notes-textarea {
  width: 100%;
  height: 75%;
  resize: none;
  padding: 10px;
  border: 1px solid #DAE0E3;
  background-color: #DAE0E3;
  font-size: 16px;
  outline: none;
  border-radius: 5px;
  border-radius: 15px;
}
.notes-box h2 {
  color: #4692A2;
  padding-top: 50px;
  text-align: left;
}
  
.reqs {
  height: 280px;
  width: 100%;
  background-color: #DAE0E3;
  border: 3px solid #4692A2;
  padding: 1.5rem;
  border-radius: 15px;
}

.reqs li{
  list-style: none;
  text-align: left;
  padding: 10px;
  padding-left: 1rem;
  width: 100%;
  background-color: #4692A2;
  color:#DAE0E3; 
}

.reqs h2 {
  color:#4692A2;
  text-align: left;
}

.coursework {
  width: 100%;
  background-color: #DAE0E3;
  border: 3px solid #4692A2;
  padding: 1.5rem;
  text-align: left;
  border-radius: 15px;
}
.coursework h2 {
  color:#4692A2;
  text-align: left;
}
.coursework p {
  color: #DAE0E3;
  margin-bottom: 0rem;
  margin-top: 1rem;
  background-color: #4692A2;
  border-radius: 15px;
  padding: 10px;
  padding-left: 1rem;
}

.title > h1 {
  font-weight: 600;
  font-size: 2.5rem;
  text-align: left;
  color: #DAE0E3;
}
.title > h2 {
  font-weight: 500;
  text-align: left;
  color: #4692A2;
}

.title {
  margin-bottom: 2rem;
}

.utdlogo img {
  width: 280px;
  height: 280px;
  border: 3px solid #4692A2;
  background-color: white;
  border-radius: 15px;
}
.backarea {
  border: 1px solid #0C404F; 
  padding: 10px;
  display: inline-block;
  background-color: #4692A2;
  border-radius: 15px;
}

.bm-link {
  text-decoration: none;
  color: #DAE0E3;
  font-weight: 600;
}