.wrapper{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 37rem;
}

.nodeEdit{
    width: 20rem;
    background-color: #DAE0E3;
    padding: 15px;
    border-radius: 20px;
    
}

.nodeMod {
    /*position: sticky;
    height: 100%;
    top: 0;
    right: 0;*/
    width: 20rem;
    background-color: #DAE0E3;
    padding: 15px;
    border-radius: 20px;
}

body {
    color: '#4692A2'
}

.plus-btn {
    height: 1.5rem;
    color:#0F3845;
}

.plus-btn:hover {
    color:#4692A2;
    cursor: pointer;
}

.icon-btn {
    color:#0F3845;
}

.icon-btn:hover {
    color:#4692A2;
    cursor: pointer;
}

.warning:hover {
    color: #ff991c;
    cursor: pointer;
}

.task-style {
    height: fit-content;
    width: 100%;
    background-color: white;
    text-align: left;
    word-wrap: break-word;
    border-radius: 20px;
}

.taskList-container {
    height: 15rem;
    width: 100%;
    overflow-y: auto;
}

.task-x {
    height: 1rem;
    margin-left: 0.5rem;
    color: #0F3845;
}

.task-x:hover {
    color: #ff991c;
    cursor: pointer;
}

.btn-color {
    width: 5rem;
    background-color: #4692A2;
    border-color: #4692A2;
}

.btn-color:hover {
    background-color: #97C0C8;
    border-color: #97C0C8;
    color: #0F3845;
}

.text-color {
    color:#0F3845;
}