
.bm-burger-button {
    position: fixed;
    width: 36px;
    height: 30px;
    left: 15px;
    top: 15px;
  }
  
  /* Color/shape of burger icon bars */
  .bm-burger-bars {
    background: #16697A;
  }
  
  /* Color/shape of burger icon bars on hover*/
  .bm-burger-bars-hover {
    background: #a90000;
  }
  
  /* Position and sizing of clickable cross button */
  .bm-cross-button {
    height: 24px;
    width: 24px;
  }
  
  /* Color/shape of close button cross */
  .bm-cross {
    background: #bdc3c7;
  }
  
  /*
  Sidebar wrapper styles
  Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
  */
  .bm-menu-wrap {
    position: fixed;
  }
  
  /* General sidebar styles */
  .bm-menu {
    position: absolute;
    top: 0px;
    background: #0C404F;
    text-align: center;
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center;
    justify-content: flex-start;
    height: 100%;
  }
  
  /* Morph shape necessary with bubble or elastic */
  .bm-morph-shape {
    fill: #373a47;
  }
  
  /* Wrapper for item list */
  .bm-item-list {
    color: #b8b7ad;
    padding: 0.8em;
  }

  /* Individual item */
  .bm-item {
    
    display: flex; /* Use flex layout for item contents */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #000000;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    transition: color 0.2s;
    font-weight: bold;
    border: 1px solid #FFFFFF; /* Add a border to create a box effect */
    background-color: #D9D9D9;
    margin: 40px;
    padding: 20px 60px; /* Add padding for inner content spacing */
    border-radius: 10px;
  }
  
  /* Styling of overlay */
  .bm-overlay {
    background: rgba(0, 0, 0, 0.3);
  }
  .sidebar-title-container {
    margin-top: 10px;
  }
  .sidebar-title {
    text-align: center;
    /*background-color: #333;*/
    color: #4692A2;
    background-color: #0C404F;
    padding: 3px;
    font-size: 40px;
    font-weight: bold;
    border: none;
    margin-top: 0px;
  }
  .bm-link {
    color:#000000;
  }